.loader-wrapper {
  display: flex; 
  align-items: center; 
  justify-content: center;
  height: 100%
}


.body-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}